.navigation-side__wrapper {
 position: absolute;
 top: 0;
 right: 0;
 width: 100%;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.3);
 display: none;
 justify-content: flex-end;
 z-index: 1;
}

.navigation-side__wrapper-open {
 display: flex;
}


.navigation-side {
 width: 68%;
 background: #202020;
 height: 100vh;
}

.navigation-side__menu {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.navigation-side__close {
 position: absolute;
 top: 22px;
 right: 22px;
 padding: 0;
 border: none;
 width: 22px;
 height: 22px;
 background: #202020;
 background-image: url(../../images/Close-side-bar.svg);
 background-repeat: no-repeat;
 background-position: center;
}

.navigation-side__close:hover {
 opacity: .3;
 cursor: pointer;
}

.navigation-side__main {
 text-decoration: none;
 margin-top: 159px;
 font-weight: 500;
 font-size: 18px;
 line-height: 22px;
 color: #FFFFFF;
}

.navigation-side__main:hover {
 opacity: .3;
 cursor: pointer;
}

.navigation-side__movies {
 text-decoration: none;
 margin-top: 28px;
 font-weight: 500;
 font-size: 18px;
 line-height: 22px;
 color: #FFFFFF;
}

.navigation-side__movies:hover {
 opacity: .3;
 cursor: pointer;
}

.navigation-side__save-movies {
 text-decoration: none;
 margin-top: 28px;
 font-weight: 500;
 font-size: 18px;
 line-height: 22px;
 color: #FFFFFF;
}

.navigation-side__save-movies:hover {
 opacity: .3;
 cursor: pointer;
}

.navigation-side__account {
 margin-top: 621px;
 margin-bottom: 90px;
 width: 100px;
 height: 32px;
 background: #313131;
 border-radius: 20px;
 border: none;
 padding: 0;
 font-weight: 500;
 font-size: 14px;
 line-height: 16px;
 color: #FFFFFF;
}

.navigation-side__account:hover {
 opacity: .3;
 cursor: pointer;
}

.link-activ {
 border-bottom: 2px solid white;
}

@media screen and (max-width: 400px) {
 .navigation-side__wrapper {
  min-height: 780px;
 }

 .navigation-side {
  width: 100%;
 }

 .navigation-side__close {
  top: 13px;
  right: 13px;
 }

 .navigation-side__main {
  margin-top: 144px;
 }

 .navigation-side__movies {
  margin-top: 24px;
 }

 .navigation-side__save-movies {
  margin-top: 24px;
 }

 .navigation-side__account {
  margin-top: 444px;
  margin-bottom: 46px;
 }
}