.about-project {
 width: 1140px;
 height: 608px;
 margin: 0 auto;
 padding-top: 110px;
}

.about-project__title {
 margin: 0;
 font-style: normal;
 font-weight: 400;
 font-size: 22px;
 line-height: 27px;
 letter-spacing: -0.04em;
 color: #FFFFFF;
}

.about-project__line {
 margin-top: 23px;
 width: 1140px;
 height: 1px;
 background-color: #DADADA;
}

/*Подзаголовок*/
.about-project__subtitle {
 margin: 0;
 margin-top: 70px;
 width: 550px;
 display: inline-block;
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 24px;
 letter-spacing: -0.04em;
 color: #FFFFFF;
}

.about-project__subtitle:nth-of-type(2) {
 margin-left: 40px;
}

/*Конец подзаголовок*/

.about-project__text {
 margin: 0;
 margin-top: 26px;
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 20px;
 color: #FFFFFF;
 width: 550px;
 display: inline-block;
}

.about-project__text:nth-of-type(2) {
 margin-left: 40px;
}

/* Шкала прогресса*/
.about-project__progress-bar {
 width: 1140px;
 height: 36px;
 margin-top: 110px;
}

.about-project__backend-block {
 display: inline-block;
 width: 228px;
 height: 100%;
 background-color: #3DDC84;
}

.about-project__backend-text {
 margin: 0;
 margin-top: 9px;
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 text-align: center;
 color: #000000;

}

.about-project__frontend-block {
 display: inline-block;
 width: 912px;
 height: 100%;
 background-color: #303030;
}

.about-project__frontend-text {
 margin: 0;
 margin-top: 9px;
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 17px;
 text-align: center;
 color: #FFFFFF;
}

/* Конец Шкала прогресса */

.about-project__progress-bar-caption {
 margin: 0;
 margin-left: 14px;
 display: inline-block;
 width: 200px;
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 17px;
 text-align: center;
 color: #8B8B8B;
}

.about-project__progress-bar-caption:nth-of-type(2) {
 margin-left: 370px;
}