.card-list__card {
 width: 100%;
 position: relative;
}

/*
.card-list__card:nth-child(n+13) {
 display: none;
}
*/
/*
.card-list__card_type_visible:nth-child(n+13) {
 display: block;
}
*/
.card-list__card:hover {
 cursor: pointer;
}

.card-list__card:hover .card-list__button-save {
 display: block;
 cursor: pointer;
}

.card-list__img {
 width: 100%;
}

.card-list__button-save {
 display: none;
 position: absolute;
 top: 14px;
 right: 14px;
 padding: 0;
 border: none;
 width: 72px;
 height: 21px;
 background: #313131;
 border-radius: 30px;
 font-style: normal;
 font-weight: 400;
 font-size: 10px;
 line-height: 9px;
 color: #FFFFFF;
}

.card-list__button-save_type_ok {
 width: 21px;
 height: 21px;
 background: none;
}

.card-list__wrapper {
 max-width: 332px;
 width: 100%;
 margin: 0 auto;
 margin-top: 14px;
 display: flex;
 justify-content: space-between;
}

.card-list__title {
 margin: 0;
 font-style: normal;
 font-weight: 500;
 font-size: 13px;
 line-height: 16px;
 color: #FFFFFF;
 max-width: 250px;
}

.card-list__wrapper-time {
 display: flex;
 align-items: center;
 width: 52px;
 height: 18px;
 background: #2F2F2F;
 border-radius: 3px;

}

.card-list__time {
 width: 100%;
 text-align: center;
 margin: 0;
 font-style: normal;
 font-weight: 400;
 font-size: 11px;
 line-height: 10px;
 color: #8B8B8B;
}

@media screen and (max-width: 1270px) {
 .card-list__wrapper {
  width: 92%;
 }

 .card-list__wrapper-time {
  min-width: 50px;
 }
}

@media screen and (max-width: 950px) {
 .card-list__wrapper {
  margin: 0;
  width: 100%;
 }
}

@media screen and (max-width: 768px) {
 .card-list__wrapper {
  margin-top: 25px;
 }

 /*
 .card-list__card:nth-child(n+9) {
  display: none;
 }
*/
 /*
 .card-list__card_type_visible:nth-child(n+9) {
  display: block;
 }*/
}

@media screen and (max-width: 400px) {
 .card-list__wrapper {
  max-width: 368px;
  margin-top: 16px;
 }

 .card-list__title {
  font-size: 12px;
  line-height: 15px;
 }

 /*
 .card-list__card:nth-child(n+6) {
  display: none;
 }
*/
 /*
 .card-list__card_type_visible:nth-child(n+6) {
  display: block;
 }*/
}