.header {
 width: 100%;
 height: 74px;
 background: #073042;
}

.header__wrapper {
 max-width: 1140px;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header__logo {
 width: 38px;
 height: 38px;
}

.header__logo:hover {
 cursor: pointer;
 opacity: .3;
}

.header__wrapper-button {
 display: inline;
}

.header__register {
 text-decoration: none;
 font-weight: 500;
 font-size: 12px;
 line-height: 16px;
 color: #FFFFFF;
 margin-right: 30px;
}

.header__register:hover {
 cursor: pointer;
 opacity: .3;
}

.header__login {
 padding: 0;
 border: none;
 font-weight: 500;
 font-size: 12px;
 line-height: 16px;
 color: #000000;
 height: 32px;
 width: 76px;
 background: #3DDC84;
 border-radius: 3px;
}

.header__login:hover {
 cursor: pointer;
 opacity: .3;
}

@media screen and (max-width: 1270px) {
 .header__wrapper {
  width: 89%;
 }
}

@media screen and (max-width: 768px) {
 .header__wrapper {
  width: 92%;
 }
}


@media screen and (max-width: 350px) {
 .header__register {
  margin-right: 14px;
  font-size: 10px;
  line-height: 16px;
  height: 26px;
 }

 .header__login {
  font-size: 10px;
  width: 54px;
  height: 26px;
 }
}