.card-list {
 padding: 0;
 list-style: none;
 max-width: 1140px;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 margin-top: 70px;
 margin-bottom: 28px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 row-gap: 60px;
 column-gap: 30px;
}

.more {
 width: 100%;
 height: 166px;
 display: flex;
 justify-content: center;
}

.more__button {
 margin-top: 50px;
 padding: 0;
 border: none;
 outline: 1px solid #424242;
 border-radius: 5px;
 width: 320px;
 height: 36px;
 background: #202020;
 font-style: normal;
 font-weight: 500;
 font-size: 12px;
 line-height: 15px;
 color: #FFFFFF;
}

.more__button:hover {
 cursor: pointer;
 opacity: .3;
}

@media screen and (max-width: 1270px) {
 .card-list {
  width: 89%;
 }
}

@media screen and (max-width: 768px) {
 .card-list {
  width: 92%;
  /* max-height: 1147px;*/
  margin-bottom: 12px;
  grid-template-columns: 1fr 1fr;
  /*overflow: hidden;*/
 }
}

@media screen and (max-width: 400px) {
 .card-list {
  width: 94%;
  margin-top: 40px;
  grid-template-columns: 1fr;
  row-gap: 39px;
 }

 .more__button {
  width: 240px;
  margin-top: 61px;
 }
}