.footer {
 margin: 0 auto;
 max-width: 1140px;
 width: 100%;
 height: 172px;
 display: flex;
 flex-direction: column;
}

.footer-hiden {
 display: none;
}

.footer__title {
 margin: 0;
 margin-top: 79px;
 font-weight: 400;
 font-size: 13px;
 line-height: 16px;
 text-align: center;
 color: #8B8B8B;
}

.footer__line {
 margin-top: 20px;
 width: 100%;
 height: 1px;
 background: #424242;
}

.footer__wrapper {
 margin-top: 20px;
 display: flex;
 justify-content: space-between;
}

.footer__data {
 margin: 0;
 font-weight: 400;
 font-size: 13px;
 line-height: 16px;
 color: #FFFFFF;
}

.footer__wrapper-link {
 display: inline;
}

.footer__link {
 text-decoration: none;
 font-weight: 400;
 font-size: 13px;
 line-height: 16px;
 color: #FFFFFF;
}

.footer__link:nth-of-type(2) {
 margin-left: 20px;
}

.footer__link:hover {
 opacity: .3;
}



@media screen and (max-width: 1270px) {
 .footer {
  width: 89%;
 }
}

@media screen and (max-width: 768px) {
 .footer {
  width: 92%;
 }
}

@media screen and (max-width: 500px) {
 .footer {
  width: 94%;
  height: 253px;
 }

 .footer__title {
  font-size: 12px;
  line-height: 15px;
 }

 .footer__wrapper {
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
 }

 .footer__data {
  margin-top: 30px;
  color: #8B8B8B;
  font-size: 12px;
  line-height: 15px;
 }

 .footer__wrapper-link {
  display: flex;
  flex-direction: column;
  order: -1;
 }

 .footer__link {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
 }

 .footer__link:nth-of-type(2) {
  margin-left: 0;
  margin-top: 12px;
 }
}