.header-dark {
 width: 100%;
 height: 74px;
 background: #202020;
}

.header-dark-hidden {
 display: none;
}

.header-dark__wrapper {
 max-width: 1140px;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-dark__logo {
 width: 38px;
 height: 38px;
}

.header-dark__logo:hover {
 cursor: pointer;
 opacity: .3;
}

.header-dark__wrapper-button {
 display: inline;
}

.header-dark__movies {
 text-decoration: none;
 font-style: normal;
 font-weight: 500;
 font-size: 13px;
 line-height: 18px;
 color: #FFFFFF;
 margin-right: 16px;
}



.header-dark__movies:hover {
 cursor: pointer;
 opacity: .3;
}

.header-dark__save-movies {
 text-decoration: none;
 font-weight: 400;
 font-size: 13px;
 line-height: 18px;
 color: #FFFFFF;
}



.header-dark__save-movies:hover {
 cursor: pointer;
 opacity: .3;
}

.header-dark__account {
 border: none;
 padding: 0;
 width: 100px;
 height: 32px;
 background: #313131;
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 16px;
 color: #FFFFFF;
 border-radius: 20px;
}

.header-dark__account:hover {
 cursor: pointer;
 opacity: .3;
}

.header-dark__side-bar {
 display: none;
}

.header-dark__side-bar:hover {
 cursor: pointer;
 opacity: .3;
}


@media screen and (max-width: 1270px) {
 .header-dark__wrapper {
  width: 89%;
 }
}

@media screen and (max-width: 768px) {
 .header-dark__wrapper {
  width: 92%;
 }

 .header-dark__movies {
  display: none;
 }

 .header-dark__save-movies {
  display: none;
 }

 .header-dark__account {
  display: none;
 }

 .header-dark__side-bar {
  display: flex;
  border: none;
  padding: 0;
  background: #202020;
  font-size: 0;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-image: url(../../images/3-polosky.svg);
 }
}

@media screen and (max-width: 400px) {
 .header-dark__wrapper {
  width: 94%;
 }

 .header-dark__side-bar {
  width: 40px;
  height: 43px;
 }
}