.about-me {
 width: 1140px;
 height: 1079px;
 margin: 0 auto;
 position: relative;
}

.about-me__title {
 margin: 0;
 padding-top: 110px;
 font-style: normal;
 font-weight: 400;
 font-size: 22px;
 line-height: 27px;
 letter-spacing: -0.04em;
 color: #FFFFFF;
}

.about-me__line {
 margin-top: 23px;
 width: 1140px;
 height: 1px;
 background-color: #DADADA;
}

.about-me__line_theme_dark {
 margin-top: 19px;
 background-color: #424242;
}

.about-me__name {
 width: 580px;
 display: inline-block;
 margin: 0;
 margin-top: 66px;
 font-style: normal;
 font-weight: 400;
 font-size: 50px;
 line-height: 58px;
 letter-spacing: -0.04em;
 color: #FFFFFF;
}

.about-me__busyness {
 width: 580px;
 display: inline-block;
 margin: 0;
 margin-top: 18px;
 font-style: normal;
 font-weight: 500;
 font-size: 18px;
 line-height: 20px;
 color: #FFFFFF;
 mix-blend-mode: normal;
}

.about-me__text {
 width: 600px;
 margin: 0;
 margin-top: 26px;
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 22px;
 color: #FFFFFF;
 mix-blend-mode: normal;
 display: inline-block;
}

.about-me__image {
 position: absolute;
 top: 227px;
 right: 70px;
 width: 270px;
 height: 327px;
 object-fit: cover;
}

.about-me__link-wrapper {
 margin-top: 99px;
 margin-bottom: 0;
}

.about-me__link-github {
 text-decoration: none;
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 17px;
 color: #FFFFFF;
}

.about-me__portfolio {
 margin: 0;
 margin-top: 101px;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 20px;
 color: #8B8B8B;
 mix-blend-mode: normal;
}

.about-me__portfolio-link {
 margin-top: 20px;
 display: flex;
 justify-content: space-between;
 width: 1140px;
 font-style: normal;
 font-weight: 400;
 font-size: 30px;
 line-height: 50px;
 letter-spacing: -0.04em;
 color: #FFFFFF;
 text-decoration: none;
}

.about-me__portfolio-link_number_van {
 margin-top: 50px;
}


/* Эффекты наведения */
.about-me__link-github:hover {
 opacity: 0.3;
}

.about-me__portfolio-link:hover {
 opacity: 0.3;
}